.filterEl{
    width: 100%;
    display: flex;
    border: 1px solid #1976d2 ;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputEl{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 30px;
}